@import "tailwindcss";


:root {
    --pink-color: #FF64AE;
    --bold-text-color: #091156;
    --light-text-color: #D7DBFF;
    scroll-behavior: smooth;
}

/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Poppins', sans-serif;
}


#top-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: -2rem;
    width: 100%;
    height: calc(100% + 50rem);
    background: url('./assets/img/backgrounds/slide-bg.png') no-repeat;
    background-size: 88%;
    z-index: -1;
    background-clip: content-box;
}

#about-us-section::after {
    content: "";
    position: absolute;
    bottom: -34rem;
    right: -2rem;
    width: 80%;
    height: calc(100% + 50rem);
    background: url('./assets/img/backgrounds/about-bg.png') no-repeat;
    background-size: 100%;
    z-index: -1;
}


/* Contact Part */
#contact-us-section::after {
    content: "";
    position: absolute;
    top: -4rem;
    left: -2rem;
    width: 100%;
    height: calc(100% + 50rem);
    background: url('./assets/img/backgrounds/contact-bg.png') no-repeat;
    background-size: 80%;
    z-index: -1;
}


/* Footer Part */
#footer-section {
    max-width: 1440px;
    margin: auto;
    position: relative;
    margin-top: 0.5rem;
    background-image: url('./assets/img/backgrounds/footer-bg.png'), url('./assets/img/backgrounds/bottom-bg.png');
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
}

@media (max-width: 1440px) {
    body {
        padding-left: 32px;
        padding-right: 32px;
    }
    #footer-section {
        background-size: 100%, 450%;
    }
}

@media (max-width: 768px) {
    #contact-us-section::after {
        height: 50%;
        top: 30rem;
    }
    #footer-section {
        background-size: 100%, 650%;
    }
}

@media (max-width: 640px) {
    body {
        padding-left: 16px;
        padding-right: 16px;
    }
    #top-section::after {
        left: -1rem;
    }
    #about-us-section::after {
        right: -1rem;
    }

    #contact-us-section::after {
        left: -1rem;
    }
    #footer-section {
        background-size: 100%, 950%;
    }
}